<h2>Add a Group</h2>

{{#if error}}
	<h3>{{ error }}</h3>
{{/if}}


<form action="" method="post" class="long-add-form">
                
    <div class="input">
        <input class="underline" id="group-name" type="text" name="name" placeholder="Enter a Group Name">
    </div>
    
    <div class="userAmounts" id="groupUsers">

      <div class="userBlock">
          <h4>{{ sessionUser.username }}</h4>
      </div>
        
    </div>

    <input hidden type="text" name="splitWith" id="splitWith">
    <input type="submit" value="Create Group">
</form>


<div class="choose-users">    
    <div id="select-friends">
        <h3>Add a Friend</h3>

        <div class="friends">
            <input type="text" placeholder="Search..." id="search" onkeyup="searchUserFilter()">
            {{#each friends as |f|}}
            <h4 onclick="addUserToGroup('{{ f.username }}')">{{ f.username }}</h4>
            {{/each}}

        </div>
    </div>
</div>














<!--
<form action="" method="post">
  
  Group Name:<br>
  <input type="text" name="name" >
  <br><br>

  	<div id="friendsDropdown">
		Add users: <input type="text" placeholder="Search.." id="searchUser" onkeyup="searchUserFilter()"><br>
		{{#each friends as |f|}}
			<a onclick="addUserToGroup('{{ f.username }}')">{{ f.username }}</a><br>
		{{/each}}
	</div>

	<div id="members">
	<h3>Members</h3>
		<ul>
			<li>{{ user }}</li>
		</ul>
	</div>

	<input hidden type="text" name="splitWith" id="splitWith">
	<input type="submit" value="Add Group">
</form> 

-->

<script src="/js/search.js"></script>
<script src="/js/addGroup.js"></script>

