<h1>Value: {{ value }}</h1>
<form method="post">
	{{#each splitWith as |s|}}
		{{ s }}: <input type="text" name="{{ s }}" id="{{ s }}" class="splitWith" bill={{ bill }} ><br>
	{{/each}}
	<input type="submit" value="Split">
</form>