<h2>Amount: {{ amount }}</h2>

<h3>Added by: {{ username }} on {{ date }}</h3>
<h3>About: {{ text }}</h3>

<h3>On this bill: </h3>
{{#each non-friend-transactions as |t|}}
	<div>
		{{ t.amount }} - {{ t.paidBy }} - 
		<form action="/api/add-friend" method="post">
			<input type="text" name="username" value="{{ t.paidBy }}" hidden>
			<input type="submit" value="Add friend">
		</form>
	</div>
{{/each}}
{{#each friend-transactions as |t|}}
	<div>
		{{ t.amount }} - {{ t.paidBy }}
	</div>
{{/each}}

<a href="/user/my-bills"><h4>View all bills</h4></a>
//
//
//
//
//
//
//
//
//