<h3>{{ group.name }}'s Page!</h3>
<div id="groupMembers">
	{{#each group.inGroup}}
		<div class="changeable" id="{{this}}">
			<input type="text" class="changeableUsers" value="{{this}}" readonly>
		</div>
	{{/each}}<br>
	<button onclick="editGroup('{{group._id}}')">Edit</button>
	<button onclick="deleteGroup('{{group._id}}')">Delete</button>
</div>

<script src="/js/addGroup.js"></script>
<script src="/js/adjust_group.js"></script>