<h2>{{ group.name }}'s Page</h2>

<div class="view-group" id="groupMembers">
	{{#each group.inGroup}}
		<div class="userBlock changeable" id="{{this}}">
			<h4 class="changeableUser">{{this}}</h4>
		</div>
	{{/each}}
	<button id="doneButton" class="hidden" onclick="finishEdit()">Done</button>
	<button id="editButton" onclick="editGroup('{{group._id}}')">Edit</button>
	<button onclick="deleteGroup('{{group._id}}')">Delete</button>
</div>

<script src="/js/addGroup.js"></script>
<script src="/js/adjust_group.js"></script>
<script src="/js/search.js"></script>