<h2>Unpaid Transactions</h2>
<section id="unpaid">
{{#each unpaid as |u|}}
	<article class="unpaid" id="trans-{{ u._id }}">
		<span class="amount">${{ u.amount }}</span>
		<button class="pay" onclick='payTransaction("{{ u._id }}")'>Pay</button>
		<span class="added-by">Added by <a href="/user/{{ u.paidTo }}">{{ u.paidTo }}</a></span>
		<span class="view-bill"><a href="/bill/view/{{ u.bill }}">View <i class="fas fa-arrow-right"></i></a></span>
	</article>
{{/each}}
</section>


<h2>Paid Transactions</h2>
<section id="paid">
{{#each paid as |p|}}
	<article class="paid">
		<span class="amount">${{ p.amount }}</span>
		<span class="paidOn">Paid on {{ p.datePaid }}</span>
		<span class="added-by">Added by <a href="/user/{{ p.paidTo }}">{{ p.paidTo }}</a></span>
		<span class="view-bill"><a href="/bill/view/{{ p.bill }}">View <i class="fas fa-arrow-right"></i></a></span>
	</article>
{{/each}}
</section>

<script src="/js/my-transactions.js"></script>
