</h2>Unpaid Transactions</h2>
{{#each unpaid as |u|}}
	<div>
		${{ u.amount }} - <button onclick='payTransaction("{{ u._id }}")'>Pay</button> - Added by: {{ u.paidTo }} - <a href="/bill/{{ u.bill }}">View</a>
	</div>
{{/each}}

<h2>Paid Transactions</h2>
{{#each paid as |p|}}
	<div>
		${{ p.amount }} - Added by: {{ p.paidTo }} - <a href="/bill/{{ p.bill }}">View</a>
	</div>
{{/each}}

<script src="/js/my-transactions.js"></script>
