<div class="user-profile-header">

    
    <div class="profile-pic">
        
        <img src="{{ image.src }}" class="profile-pic" alt="Anon">
    </div>
    
    <h2>{{user}} Profile</h2>

    {{#unless addFriend}}
		<button onclick="addFriend('{{ user }}')" id="add-friend"><i class="fas fa-plus"></i>&nbsp;Add Friend</button>
	{{/unless}}

</div>

<div class="user-profile-content">
                
	<div class="user-profile-section">
	    
	    <h3>Bills</h3>
	    <section id="bills" class="outline">
	    {{#each bills as |b|}}
	    	<article>
	            <span class="amount">{{ b.amount }}</span>
	            <span class="date">{{b.dateCreated}}</span>
	            <span class="view"><a href="/bill/view/{{b._id}}">View <i class="fas fa-arrow-right"></i></a></span>
	        </article>
	    {{/each}}

	   	</section>
	</div>

	<div class="user-profile-section">
        <h3>Friends</h3>
        <section id="friends" class="outline">

            <ul>
            {{#each friends as |f|}}
                <a href="/user/{{ f.user }}"><li>{{f.user}}</li></a>
            {{/each}}
            </ul>

        </section>
    </div>
    
    <div class="user-profile-section">
        <h3>Groups</h3>
        <section id="groups" class="outline">
            <ul>

            {{#each groups}}
            	<a href="/group/{{_id}}"><li>{{name}}</li></a>
        	{{/each}}
            </ul>

        </section>
    </div>
    

</div>

<script src="/js/search.js"></script>
<script src="/js/addGroup.js"></script>
<script src="/js/add_friend.js"></script>
<script src="/js/change_tip.js"></script>
<script src="/js/adjust_group.js"></script>
