
{{#if err}}
	<h2>{{ err }}</h2>

{{else}}
	<div class="amount">
		<h2>${{ bill.amount }}</h2>
	</div>

	{{#with bill.comment}}
	<div class="comment">
		{{ bill.comment }}
	</div>
	{{/with}}

	<section class="transactions">
	<h3>Users paying this bill</h3>
	{{#each bill.transactions}}
		<div class="{{if this.isPaid "paid" "unpaid"}}">
			<div class="amount">${{ amount }}</div>
			<div class="user"><a href="/user/{{paidBy}}">{{paidBy}}</a>
		</div>
	{{/each}}
	</section>


{{/if}}